<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="wl_task" frontName="wl_task">
            <module name="Potoky_WhiteLabelTask" />
        </route>
    </router>
</config>