<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\LinkTypeProvider">
        <arguments>
            <argument name="linkTypes" xsi:type="array">
                <item name="twiced" xsi:type="const">Potoky\EyelensProduct\Model\Product\Type\Eyelens::LINK_TYPE_EYELENS</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\ProductLink\CollectionProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="twiced" xsi:type="object">Potoky\EyelensProduct\Model\Product\Link\CollectionProvider\Eyelens</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\ProductLink\Converter\ConverterPool">
        <arguments>
            <argument name="converters" xsi:type="array">
                <item name="twiced" xsi:type="object">\Potoky\EyelensProduct\Model\Product\Link\ProductEntity\Converter</item>
            </argument>
        </arguments>
    </type>
    <type name="Potoky\EyelensProduct\Ui\DataProvider\Product\Form\Modifier\Eyelens">
        <plugin name="potoky_eyelens_forbid_modify_data_eyelens"
                type="Potoky\EyelensProduct\Model\Plugins\ForbidEyelens"
                disabled="false"/>
    </type>
    <type name="Magento\GroupedProduct\Ui\DataProvider\Product\Form\Modifier\Grouped">
        <plugin name="potoky_eyelens_forbid_modify_data_grouped"
                type="Potoky\EyelensProduct\Model\Plugins\ForbidGrouped"
                disabled="false"/>
    </type>
    <type name="Magento\Catalog\Model\ProductLink\CollectionProvider">
        <plugin name="potoky_eyelens_product_link_match_check"
                type="Potoky\EyelensProduct\Model\Plugins\MatchCheck"
                disabled="false"/>
    </type>
    <type name="Magento\Catalog\Helper\Product">
        <plugin name="potoky_eyelens_init_product"
                type="Potoky\EyelensProduct\Model\Plugins\Product"
                disabled="false"/>
    </type>
</config>
